body {
	margin: 1 auto;
	background-color: #000;
	font-family: 'Krona One', sans-serif;
	color: #fff;
}

.header {
	grid-area: header;
	display: grid;
	grid-template-columns: 1fr 5fr;
}

.logo-image {
	max-height: 100%;
}

.picture {
	border-radius: 4px 4px 0 0;
	width: 100%;
}

.header-text {
	margin: 0;
	text-align: right;
}

.main-title {
	font-weight: 400;
	font-size: 26px;
	text-align: right;
}

.subtitle {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-align: right;
}


.description {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 18px;
    line-height: 1.5;
}

.description-translate {
	padding-bottom: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 13px;
	line-height: 1.5;
	color: #B2B2B2;
}

.portfolio {
	padding-bottom: 5px;
}

.featured-work {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card {
   width: 100%;
   background: black;
   border-radius: 8px;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.3);
}

.container {
  line-height: 0.8 !important; 
  font-family:'Montserrat', sans-serif;
  font-size: 16px;
  color: white;
}

.contact-me {
	text-align: left;
	font-size: 22px;
	padding-top: 80px;
	padding-bottom: 20px;
}

.behance, .linkedin, .instagram, .github, .facebook {
	color: white;
	text-decoration: unset;
	padding-right: 10px;
}
/*Breakpoints to Nexus 5 (360px x 650px) and iPad at (768px x 1024px)*/

.wrapper {
    	width: 100%;
    }

@media screen and (max-width: 360px) {
	.logo-image {
		margin-top: 0.5rem;
		max-height: 3.5rem;
	}

	.main-title {
		font-size: 1.3rem;
		margin-bottom: 0;
	}

	.subtitle {
		margin-top: 0.1rem;
	}

	.card-1, .card-2, .card-3 {
		width: 100%;
	}

}

@media screen and (min-width: 361px) and (max-width: 768px) { 
     .logo-image {
		margin-top: 0.6rem;
		max-height: 5rem;
	}

	.main-title {
		font-size: 1.6rem;
		margin-bottom: 0;
		margin-top: 1rem;
	}

	.subtitle {
		margin-top: 0.3rem;
		font-size: 1.4rem;
	}

	.picture {
		margin-top: 1.5rem; 
	}

     .card-1, .card-2, .card-3 {
		width: 100%;
	}

}

@media screen and (min-width: 769px) {

	.wrapper {
		width: 93%;
		margin-left: auto;
	 	margin-right: auto;
	}

	.logo-image {
		margin-top: 0.6rem;
		max-height: 5.5rem;
	}

	.main-title {
		font-size: 2rem;
		margin-bottom: 0;
		margin-top: 1rem;
	}

	.subtitle {
		margin-top: 0.4rem;
		font-size: 1.2rem;
	}

	.picture {
		width: 769px;
		grid-area: center;
		margin-top: 8px;
	}

	.about-me, .description, .description-translate {
		width: 50%;
	}

	.card-1, .card-2, .card-3 {
		width: 32%;
	}

}







